body {
    font-family: 'General Sans', sans-serif;  
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    overflow: hidden;
}

.background-lime {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: #C2D452;
    border-radius: 50% 0 0 50%;
}

.img {
    overflow-clip-margin: content-box;
    overflow: clip;
    

       
}