body {
    font-family: "General Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ff6347;
    color: white;
}

h2{
    font-size: 48px;
}

h4{
    font-size: 20px;
    font-weight: normal;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    background: white;
    color: #ff6347;
    border: none;
    border-radius: 5px;
}

.banner {
    text-align: center;
    padding: 50px;
    background: url('vegetales.jpg') no-repeat center/cover;
    color: white;
}

section {
    padding: 40px;
    text-align: center;
}

.team {
    display: flex;
    flex-direction: row;
    gap: 56px;
    justify-content: center;
}

.team .member {
    width: 330px;
    text-align: left;
}

footer {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
}
#propuesta-valor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.left-align{
    text-align: left;
}

.member-img{
    height: 330px;
    border-radius: 0px 0px 30px 30px;
}

.italic{
    font-style: italic;
}